header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/Images/logo.svg", alt="Logo" style="width: 150px; height: 150px")
            .col-5 
                .box-search 
                    form(action="/search/result" method="GET")
                        .form-group.d-flex.mb-0 
                            input(
                                type="text"
                                placeholder="Enter keyword"
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Search
            .col-4
                .inner-menu 
                    ul
                        li 
                            a(href="/") 
                                i.fa-solid.fa-house
                                | Home Page 
                        li  
                            a(href="/topics") 
                                i.fa-solid.fa-music
                                | Song topics   
                        li 
                            a(href="/favorite-songs") 
                                i.fa-solid.fa-heart 
                                | Favorite 