.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard 
            li 
                a(href=`${prefixAdmin}/topics`) Topics Management 
            li 
                a(href=`${prefixAdmin}/songs`) Songs Management 
            li 
                a(href=`${prefixAdmin}/singers`) Singers Management 
            li 
                a(href=`${prefixAdmin}/roles/permission`) Permission 
            li 
                a(href=`${prefixAdmin}/adminAccounts`) Admin Accounts 
            li 
                a(href=`${prefixAdmin}/userAccounts`) User Accounts       
            li 
                a(href=`${prefixAdmin}/settings/general`) General Setting 